body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: white;
}
.nav-bar{
    padding-top: 25px;
    margin-bottom: 10%;
}
.nav-links{
    display: flex;
    float: right;
   margin-top: 0;
}
.nav-links li{
    margin-right: 40px;
    list-style-type: none;
    cursor: pointer;
}
.nav-links li a{
    text-decoration: none;
    color: black;
}
.nav-links li:hover{
    text-decoration: underline;
}
main{
    margin: 8% 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#input{
    padding: 20px  150px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50px;
    margin-bottom: 50px;
    border: 1px solid rgb(219, 213, 213);
    outline: none;
}
 button{
     border: none;
     margin-bottom: 30px;
     padding: 10px;
     margin-right: 25px;
     background-color: rgb(231, 216, 216);
 }
 .nigeria{
     padding-top: 10px;
     margin-left: 5%;
 }
 .carbon{
     text-align: center;
     padding: 10px 0 5px;
 }
 .footer-links1{
   display: flex;

 }
 .footer-links1 li{
     margin-right: 7px;
     list-style-type: none;
     cursor: pointer;
     display: flex;
 }
 .footer-links2{
   display: flex;
}
.footer-links2 li{
    margin-right: 5px;
    list-style-type: none;
    cursor: pointer;
    display: flex;
}
 .footer-all a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer-all{
    background-color: rgb(235, 231, 231);
    margin-top: 7px;
    width: 100%;
    position: absolute;
    bottom: 1px;
}

span a{
    text-decoration: none;
    margin-right: 10px;
}
hr{
    color: rgb(245, 241, 241);
}
#signup{
    background-color: rgb(72, 72, 253);
    color: white;
    height: 30px;
    padding-bottom: 20px;
    padding-top: 5px;
}
.dots{
    height: 20px;
}
@media only screen and (max-width: 800px){
    main{
        width: 50%;
        margin: auto;
    }
    .footer-all{
        width: 100%;
    }
    .footer-links2{
        display: block;
    }
    .footer-links1{
        display: block;
    }
    #input{
        padding: 20px 60px;
        width: 50%;
        margin: auto auto 30px;

    }
    #buttons{
        display: none;
    }
    #signup{
        width: 75px;
        padding: auto 55px;
    }
}